html , body , h1,h2,h3,h4,h5,h6,p,pre,ol,ul,li,form,input,textarea{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font: 16px "Microsoft YaHei UI" ,"sans-serif";
    color: #333333;
    position: relative;
}
a{
    text-decoration: none;
    color: #333;
}
/*第一个*/
.nav{
    width: 100%;
    height: 79px;
    background: rgba(0,0,0,0.15);
    position: fixed;
    top: 0;
    z-index: 999;
}
.navContent{
    width: 1170px;
    height: 100%;
    margin: 0 auto ;
}
.logo{
    width: 150px;
    height: 50px;
    float: left;
    margin-top:14px ;
}
/* 行内元素没有宽高属性*/
.logo a{
    display: block;
    width: 100%;
    height: 100%;
}
.logo a img{
    width: 100%;
    height: 100%;
}
.navList{
    width: 602px;
    height: 100%;
    float: right;
}
.navList li{
    float: left;
    width: 86px;
    height: 100%;
}
.navList li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 79px;
    font-size: 14px;
    transition: color  linear .5s ;
}
/*鼠标移上去*/
.navList li a:hover{
    color: #16b0bc;
}
/*第二个*/
.banner{
    width: 100%;
    min-height: 300px;
    background: #ddd;

}
.banner img{
    width: 100%;
}
/*第五个*/
.work{
    width: 100%;
    height: 700px;
}
.workCenter{
    width: 100%;
    height: 700px;
}
.workContent{
    width: 1170px;
    height: 100%;
    margin: 0 auto ;
}
.txt{
    width: 100%;
    height:240px;
    margin-top: 60px;

}
.map{
    width:530px;
    height: 340px;
    margin:40px auto 0;

}
.workContent  h1{
    text-align: center;
}
.pre{
    width: 1170px;
    height:33px;
    text-align: center;

}
.pre1{
    width: 1170px;
    height:33px;
    text-align: center;
    margin-bottom: 10px;
}
/*第六个*/
.last{
    width: 100%;
    height: 142px;
    background: #f5f5f5;
    border-top: solid 1px #f0f2f5;
    padding-bottom: 30px;
}
.lastTop{
    background: #ffffff;
    padding: 10px 0;
}
.lastTU{
    width: 100%;
    height: 57px;
    background: #f5f5f5;
    text-align: center;

}
.last p{
    width: 1140px;
    height: 25px;
    margin: 0 auto;
    text-align: center;
    color: #aaaaaa;
}
.lastTU img{
    margin-right: 5px;
    margin-top: 5px;
}
.last p a:hover{
    color: #89bceb;
    text-decoration: underline;
}